In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("tested.csv",usecols=[1,2,11])
df.head()

   Survived  Pclass Embarked
0         0       3        Q
1         1       3        S
2         0       2        Q
3         0       3        S
4         1       3        S

In [85]:
X=df.iloc[:,1:3] #here the values are alloted to the categories in sequence we pass them in ordinalencoder function
Y=df.iloc[:,0]
from sklearn.model_selection import train_test_split
[X_train,X_test,Y_train,Y_test]=train_test_split(X,Y)
X_train=X_train.astype(str)
X_test=X_test.astype(str)
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder(categories=[["3","2","1"],["Q","S","C"]])
encoder.fit(X_train)
X_train=encoder.transform(X_train)
X_test=encoder.transform(X_test)
X_train

array([[0., 0.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [1., 2.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [2., 1.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [1., 2.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [0., 1.],
       [2., 2.],
       [0., 1.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [0., 1.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [0., 0.],
       [2., 2.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [0., 1.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [2., 2.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [2., 1.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [1., 1.],
       [1., 1.],
       [1., 2.],
       [0., 1.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [1., 2.],
       [2., 2.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [2., 1.],
       [1., 2.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 2.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [2., 2.],
       [0., 2.],
       [0., 1.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 2.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [0., 2.],
       [0., 1.],
       [1., 1.],
       [2., 1.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [0., 0.]])

In [89]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoder.fit(Y_train)
Y_train=encoder.transform(Y_train)
Y_test=encoder.transform(Y_test)
Y_train

array([1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0], dtype=int64)

<h2>One Hot Encoding</h2>

In [94]:
df=pd.read_csv("used_cars_data.csv",usecols=[0,1,4,5,7,8])
df.head()

,S.No.,Name,Kilometers_Driven,Fuel_Type,Owner_Type,Mileage
0,0,Maruti Wagon R LXI CNG,72000,CNG,First,26.6 km/kg
1,1,Hyundai Creta 1.6 CRDi SX Option,41000,Diesel,First,19.67 kmpl
2,2,Honda Jazz V,46000,Petrol,First,18.2 kmpl
3,3,Maruti Ertiga VDI,87000,Diesel,First,20.77 kmpl
4,4,Audi A4 New 2.0 TDI Multitronic,40670,Diesel,Second,15.2 kmpl

In [112]:
pd.get_dummies(df,columns=["Fuel_Type","Owner_Type"])
pd.get_dummies(df,columns=["Fuel_Type","Owner_Type"],drop_first=True) #drops the first category

,S.No.,Name,Kilometers_Driven,Mileage,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,0,Maruti Wagon R LXI CNG,72000,26.6 km/kg,False,False,False,False,False,False,False
1,1,Hyundai Creta 1.6 CRDi SX Option,41000,19.67 kmpl,True,False,False,False,False,False,False
2,2,Honda Jazz V,46000,18.2 kmpl,False,False,False,True,False,False,False
3,3,Maruti Ertiga VDI,87000,20.77 kmpl,True,False,False,False,False,False,False
4,4,Audi A4 New 2.0 TDI Multitronic,40670,15.2 kmpl,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,89411,20.54 kmpl,True,False,False,False,False,False,False
7249,7249,Volkswagen Polo GT TSI,59000,17.21 kmpl,False,False,False,True,False,False,False
7250,7250,Nissan Micra Diesel XV,28000,23.08 kmpl,True,False,False,False,False,False,False
7251,7251,Volkswagen Polo GT TSI,52262,17.2 kmpl,False,False,False,True,False,False,True
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,72443,10.0 kmpl,True,False,False,False,False,False,False

In [178]:
X=df.iloc[:,0:5]
Y=df.iloc[:,-1]
[X_train,X_test,Y_train,Y_test]=train_test_split(X,Y)
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(drop="first") #drops the first category from both the columns,we can also use sparse as false and then we dont need to use toarray
X_train_new=encoder.fit_transform(X_train[["Fuel_Type","Owner_Type"]]).toarray()
encoder.transform(X_test[["Fuel_Type","Owner_Type"]]).toarray()
X_train_new
X_train_other=X_train[["Name","Kilometers_Driven"]].values
np.hstack((X_train_other,X_train_new)).shape#converts the features into numpy array

(5439, 9)

array(['Maruti Wagon R LXI CNG', 'Hyundai Creta 1.6 CRDi SX Option',
       'Honda Jazz V', ..., 'Nissan Micra Diesel XV',
       'Volkswagen Polo GT TSI',
       'Mercedes-Benz E-Class 2009-2013 E 220 CDI Avantgarde'],
      dtype=object)

In [208]:
count=df["Name"].value_counts()
threshold=100
repl=count[count<=100].index
pd.get_dummies(df["Name"].replace(repl,"uncommon"))

      uncommon
0         True
1         True
2         True
3         True
4         True
...        ...
7248      True
7249      True
7250      True
7251      True
7252      True

[7253 rows x 1 columns]