<b><h2>Csv,tsv,json,sql file formats.</h2></b> 
<h3>Csv file format,most commonly used comma seperated data.</h3>

In [8]:
import pandas as pd
pd.read_csv("placement-dataset.csv") #direct fetching with read_csv

      Unnamed: 0     iq  placement
cgpa
6.8            0  123.0          1
5.9            1  106.0          0
5.3            2  121.0          0
7.4            3  132.0          1
5.8            4  142.0          0
...          ...    ...        ...
4.3           95  200.0          0
4.4           96   42.0          0
6.7           97  182.0          1
6.3           98  103.0          1
6.2           99  113.0          1

[100 rows x 3 columns]

In [11]:
import requests   #extracting csv files from the net
from io import StringIO
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers={"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14;rv:66.0) Gecko 20100101 Firefox/66.0"}
data=requests.get(url,headers)
text_data=StringIO(data.text)
pd.read_csv(text_data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [10]:
import pandas as pd
pd.read_csv("placement-dataset.csv",index_col="cgpa")  #to make any coulmn as index use index_col

      Unnamed: 0     iq  placement
cgpa
6.8            0  123.0          1
5.9            1  106.0          0
5.3            2  121.0          0
7.4            3  132.0          1
5.8            4  142.0          0
...          ...    ...        ...
4.3           95  200.0          0
4.4           96   42.0          0
6.7           97  182.0          1
6.3           98  103.0          1
6.2           99  113.0          1

[100 rows x 3 columns]

In [14]:
pd.read_csv("mtcars.tsv",sep='/t',names=["sno","model"]) #use sep to read tsv files it defines seperating opertor as needed

C:\Users\Shreya Sharma\AppData\Local\Temp\ipykernel_21996\2644859332.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pd.read_csv("mtcars.tsv",sep='/t',names=["sno","model"])

                                                  sno  model
0   model\tmpg\tcyl\tdisp\thp\tdrat\twt\tqsec\tvs\...    NaN
1   Mazda RX4\t21\t6\t160\t110\t3.9\t2.62\t16.46\t...    NaN
2   Mazda RX4 Wag\t21\t6\t160\t110\t3.9\t2.875\t17...    NaN
3   Datsun 710\t22.8\t4\t108\t93\t3.85\t2.32\t18.6...    NaN
4   Hornet 4 Drive\t21.4\t6\t258\t110\t3.08\t3.215...    NaN
5   Hornet Sportabout\t18.7\t8\t360\t175\t3.15\t3....    NaN
6   Valiant\t18.1\t6\t225\t105\t2.76\t3.46\t20.22\...    NaN
7   Duster 360\t14.3\t8\t360\t245\t3.21\t3.57\t15....    NaN
8   Merc 240D\t24.4\t4\t146.7\t62\t3.69\t3.19\t20\...    NaN
9   Merc 230\t22.8\t4\t140.8\t95\t3.92\t3.15\t22.9...    NaN
10  Merc 280\t19.2\t6\t167.6\t123\t3.92\t3.44\t18....    NaN
11  Merc 280C\t17.8\t6\t167.6\t123\t3.92\t3.44\t18...    NaN
12  Merc 450SE\t16.4\t8\t275.8\t180\t3.07\t4.07\t1...    NaN
13  Merc 450SL\t17.3\t8\t275.8\t180\t3.07\t3.73\t1...    NaN
14  Merc 450SLC\t15.2\t8\t275.8\t180\t3.07\t3.78\t...    NaN
15  Cadillac Fleetwood\t10.4\t8\t472\t205\t2.93\t5...    NaN
16  Lincoln Continental\t10.4\t8\t460\t215\t3\t5.4...    NaN
17  Chrysler Imperial\t14.7\t8\t440\t230\t3.23\t5....    NaN
18  Fiat 128\t32.4\t4\t78.7\t66\t4.08\t2.2\t19.47\...    NaN
19  Honda Civic\t30.4\t4\t75.7\t52\t4.93\t1.615\t1...    NaN
20  Toyota Corolla\t33.9\t4\t71.1\t65\t4.22\t1.835...    NaN
21  Toyota Corona\t21.5\t4\t120.1\t97\t3.7\t2.465\...    NaN
22  Dodge Challenger\t15.5\t8\t318\t150\t2.76\t3.5...    NaN
23  AMC Javelin\t15.2\t8\t304\t150\t3.15\t3.435\t1...    NaN
24  Camaro Z28\t13.3\t8\t350\t245\t3.73\t3.84\t15....    NaN
25  Pontiac Firebird\t19.2\t8\t400\t175\t3.08\t3.8...    NaN
26  Fiat X1-9\t27.3\t4\t79\t66\t4.08\t1.935\t18.9\...    NaN
27  Porsche 914-2\t26\t4\t120.3\t91\t4.43\t2.14\t1...    NaN
28  Lotus Europa\t30.4\t4\t95.1\t113\t3.77\t1.513\...    NaN
29  Ford Pantera L\t15.8\t8\t351\t264\t4.22\t3.17\...    NaN
30  Ferrari Dino\t19.7\t6\t145\t175\t3.62\t2.77\t1...    NaN
31  Maserati Bora\t15\t8\t301\t335\t3.54\t3.57\t14...    NaN
32  Volvo 142E\t21.4\t4\t121\t109\t4.11\t2.78\t18....    NaN

In [28]:
pd.read_csv("placement-dataset.csv",header=101) #the first row is set as the header

ParserError: Passed header=101 but only 101 lines in file